.message{data: {message_id: "#{message.id}"}}
  .message-index
    .message-index__user
      = message.user.name
    .message-index__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .message-text
    - if message.body.present?
      %p.message-text__body
        = message.body
    = image_tag message.image.url, class: 'message-text__image' if message.image.present?
